{% extends 'base.html' %}

{% block titulo %}: Carrinho{% endblock %}

{% block body %}

{% if carrinho %}
<div class="container">
    <h2>CARRINHO</h2>
</div>

<div class="container carrinho">
    {% for item in carrinho %}

    <div class="item-cart row">
        <div class="col-sm-2">


            <a href="/produto/{{ item['produto_id'] }}"><img src="data:image/jpg;base64, {{ item['imagem'] }}"
                    alt="{{ item['descricao_img'] }}"></a>


            <div class="d-flex justify-content-start qtd-cart">
                <a style="color: inherit;" href="/cartqtd?id={{ item['produto_id'] }}&qtd={{ item['qtd'] }}&act=sub"><i
                        class="bi bi-dash-lg"></i></a>
                <div>{{ item['qtd'] }}</div>
                <a style="color: inherit;" href="/cartqtd?id={{ item['produto_id'] }}&qtd={{ item['qtd'] }}&act=add"><i
                        class="bi bi-plus-lg"></i></a>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="row">
                <a href="/produto/{{ item['produto_id'] }}"></a>
                <h3 class="nome-prod">
                    {{ item['produto_nome'] }}
                </h3></a>
            </div>

            <div class="row vend-cart">
                <small>por {{ item['vendedor'] }}</small>
            </div>


            <div class="row">
                <p class="valor-cart">Valor unitario: <strong>R$ {{ item['valor'] }}</strong></p>
            </div>

            <div class="row">
                <p class="valor-cart">Desconto: <strong>{{ item['desconto'] }}%</strong></p>
            </div>

            <div class="row">
                <p class="subt-cart">Total: <strong>R$ {{ item['total'] }}</strong></p>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col">
                    <p class="desc-prod">
                        {{ item['produto_descricao'] }}
                    </p>
                    <a href="/cartrm?id={{ item['produto_id'] }}" style="color: inherit;"><i style="margin-left: 100%;"
                            class="bi bi-x-lg"></i></a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}


</div>



<div class="container">
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-3 carrinho">
            <h2>Subtotal:</h2>
            <p style="font-size: larger;">R${{subtotal}}</p>
        </div>
        <div class="col-3 carrinho">

            <button class="submit-bnt" style="margin-top: 2rem;">CONTINUAR COMPRA</button>

        </div>
    </div>
</div>

{% else %}
<div style="height: 75vh; min-width: 100vh;" class="text-center">
    <h1>Carrinho vazio</h1>
    <h4>Isso é ruim... melhor encher ele</h4>
</div>
{% endif %}

{% endblock %}