{% extends 'base.html' %}

{% block titulo %}: Carrinho {{ codigo }} {% endblock %}

{% block body %}

{% if itens %}
<div class="container carrinho">

    
    {% for item in itens %}

    <div class="item-cart row">
        <div class="col-sm-2">

            <div style="height: 180px; width: 180px; background-color: white; margin-top: 1rem;">
                <img src="data:image/jpg;base64, {{item[10]}}" alt="{{item[9]}}">
            </div>

            <div class="d-flex justify-content-start qtd-cart">
                <a style="color: inherit;" href="/cartqtd?id={{item[0]}}&qtd={{item[1]}}&act=sub"><i class="bi bi-dash-lg"></i></a>
                <div>{{item[1]}}</div>
                <a style="color: inherit;" href="/cartqtd?id={{item[0]}}&qtd={{item[1]}}&act=add"><i class="bi bi-plus-lg"></i></a>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="row">
                <h3 class="nome-prod">
                    {{item[2]}}
                </h3>
            </div>

            <div class="row vend-cart">
                <small>por {{item[8]}}</small>
            </div>


            <div class="row">
                <p class="valor-cart">Valor unitario: <strong>R${{item[4]}}</strong></p>
            </div>

            <div class="row">
                <p class="valor-cart">Desconto: <strong>{{item[5]}}%</strong></p>
            </div>

            <div class="row">
                <p class="subt-cart">Total: <strong>{{item[7]}}</strong></p>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col">
                    <p class="desc-prod">
                        {{item[3]}}
                    </p>
                    <a href="/cartrm?id={{item[0]}}" style="color: inherit;"><i style="margin-left: 100%;"class="bi bi-x-lg"></i></a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}


</div>



<div class="container">
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-3 carrinho">
            <h2>Subtotal:</h2>
            <p style="font-size: larger;">R${{subtotal}}</p>
        </div>
        <div class="col-3 carrinho">

            <button class="submit-bnt" style="margin-top: 2rem;">CONTINUAR COMPRA</button>

        </div>
    </div>
</div>

{% else %}
<div style="height: 75vh; min-width: 100vh;" class="text-center">
    <h1>Carrinho vazio</h1>
    <h4>Isso é ruim... melhor encher ele</h4>
</div>
{% endif %}



<script src="src/Data.js"></script>
<script src="src/cart.js"></script>


{% endblock %}