{% extends 'base_admin.html' %}

{% block  titulo %}: Adicionar{% endblock %}

{% block body %}

    <h2>Adicionar Produto</h2>
    <form action="/admin/adicionar_produto" method="post" enctype="multipart/form-data">

        <p>
            <label>
            Nome do produto <input type="text" name="produto_nome" required>
            </label>
        </p>
        <p>
            <label>
                Descrição do produto <textarea name="produto_descricao" required></textarea>
            </label>
        </p>
        <p>
            <label>
                Preço do produto R$<input type="number" step="0.01" name="valor" min="0" required>
            </label>
        </p>
        <p>
            <label>
                Desconto (porcentagem) <input type="number" step="0.01" name="desconto">
            </label>
        </p>
        <p>
            <label>
                Imagens <input type="file" multiple name="imagem" accept=".jpg,.jpeg">
            </label>
        </p>
        <p>
            <label>
                Descrição das imagens (descrição geral para todas)<textarea name="img_descricao"></textarea>
            </label>
        </p>
        <p>
            <label>
                Tags (separadas por virgula) <textarea name="tags"></textarea>
            </label>
        </p>


        <button type="submit">Adicionar produto</button>
    </form>

{% endblock %}