/* Geral */
:root{
    --branco-default: #ffffff;
    --branco-cinza: #F5F5F5;
    --font-color-default: #333643; 
    --font-color-destaque: #212529;
    --font-family-default: Arial, sans-serif;
}


.bg-destaque{
    background-color: var(--branco-cinza);
}

.txt-destaque{
    color: var(--font-color-destaque);
    font-weight: bold !important;
    font-family: var(--font-family-default);
}

html{
    height: 100vh;
    width: 100%;
}
body{
    height: 100vh;
    width: 100%;
    margin: 0;

    background-color: var(--branco-default);
    color: var(--font-color-default) !important;
    font-family: var(--font-family-default);
}

/* Navbar */

.nav-meio{
    background-color: var(--branco-default) !important;
    margin: 0;
    padding: 0.5rem !important;
    height: fit-content;
}

.nav-meio img{
    height: 54px;
}

.nav-meio li a{
    width: 100%;
    text-align: center;
}

.nav-meio a{
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
}

.nav-meio input{
    background-color: var(--branco-cinza);
    border-radius: 20px;
    margin-left: 97px;

}

.save{
    margin-right: 1.5rem;
}

.nav-meio i{
    color: var(--font-color-default);
    font-size: x-large;
 
    margin: 0 1rem;
}

.nav-meio .save i{
    font-size: large;
}

.nav-meio i:hover{

    -webkit-text-stroke: 1px;
}

.nav-meio li{
    list-style-type: none;
}

.nav-baixo{
    margin-top: 70px !important;
    background-color: var(--branco-cinza) !important;
    margin: 0;
    padding: 0 !important;
}

.nav-baixo ul{
    width: 100%;
}

.nav-baixo .nav-item{
    margin: 0 5%;
}

.msg{
    background-color: cornflowerblue;
    color: var(--branco-default);
    font-weight: bold;
    border-radius: 0 0 2px 2px;
    margin: 0 0;
    text-align: center;
    width: 100%;

}

/* Footer */

footer{
    max-width: 100%;
    background-color: var(--font-color-destaque);
    color: var(--branco-cinza);
}
footer img{
    width: 150px;
    margin-top: 30px;
}

footer .row{
    max-width: 100%;
}

footer .col{
    margin-left: 20px;

}

footer li{
    list-style-type: none;
}

footer ul{
    padding: 0;
}

footer a{
    text-decoration: none;
    color: inherit;
}

footer a:hover{
    text-decoration: underline;
}


/* Formulário de login/registro */
.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 85vh;
}

.auth-form {
    background-color: var(--branco-cinza); /* Bege/cinza claro */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;

}

.auth-form h1{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: var()
}

.auth-form a{
    color: var(--font-color-default);
    text-decoration: none;
    font-size: small;
}
.auth-form a:hover{
    text-decoration: underline;
    color: var(--font-color-destaque);
}

.auth-form p{
    margin: 0;
    text-align: center;
}

.submit-bnt {
    background-color: var(--font-color-destaque);
    color: white;
    border: none;
    padding: 10px 20px !important;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; /* Fonte Poppins */
    transition: background-color 0.3s ease; /* Transição de cor suave */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-weight: bold;
}

.auth-form .submit-bnt{
    margin-top: 2rem;
}

.submit-bnt:hover {
    background-color: var(--font-color-default); /* Tom mais escuro de verde ao passar o mouse */
}

.erro{
    background-color: crimson;
    color: var(--branco-default);
    font-weight: bold;
    border-radius: 2px;
    margin-top: 20px !important;
}

/* erro */

.gato img{
    height: 300px;
    margin-bottom: 20vh;
}

.gato h1{
    font-size: 50px;
    margin-bottom: 10px;
}


/* Carrinho */


.carrinho {
  background-color: var(--branco-cinza);
  margin-top: 1.5rem;
  }


  .item-cart{
    border-bottom: solid 5px var(--branco-default);
  }


.carrinho .item-cart img{
  max-width:180px;
  max-height:180px;
  width: auto;
  height: auto;
  margin-top: 1rem;
}

.img-prod{
  width: min-content;
}

.qtd-cart div{
  width: 2rem;
  height: 1.5rem;
  text-align: center;
  border: solid 1px var(--font-color-default);
  border-radius: 3px;
}


.qtd-cart > *{
  margin: 2rem 1rem 0rem 1rem;
}

.carrinho .nome-prod{
  font-size: 1.3rem;
  height: 1.3rem;
}

.vend-cart{
  margin-bottom: 6rem;
}

.valor-cart{
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.subt-cart{
  font-size: 1.7rem;
}

.carrinho .desc-prod{
  margin-top: 2rem;
  height: 12rem;

  overflow: hidden;
}

.total-cart{
  background-color: var(--branco-cinza);

}



/* Pagina do produto*/


#produtoPrincial .carousel-item{

    width: 600px;
    height: 600px;
}


#produtoPrincial .carousel-item img{
    width: 100%;
    height: auto;

}

.info-produto{
    margin-left: 2rem;
}

.info-produto .nome{
    line-height: 2.3rem;
    font-size: 1.9rem;
    max-width: 42rem;

    color: var(--font-color-destaque);
    margin-bottom: 0;
}

.info-produto h3{
    margin-top: 3rem;
    margin-bottom: 0;

    color: var(--font-color-default);
}

.info-produto h2{
    margin-top: 0;

    font-size: 1.6rem;
    color: var(--font-color-default);
}

.desconto-produto{

    background-color: var(--font-color-default);
    color: var(--branco-cinza);
    padding: 2px;
    border-radius: 3px;
}


.qtd-produto{
    border: solid 1px var(--font-color-default);
    width: fit-content;
    background-color: var(--branco-cinza);
    border-radius: 5px;

    margin-right: 1.5rem;
}

.qtd-produto .qtd-btn{
    text-align: center;
    height: 40px;
    width: 40px;

    padding: 0;
    margin: 0;

    background-color: var(--branco-cinza);

    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.qtd-produto input{
    text-align: center;
    height: 40px;
    width: 40px;
    border: solid 1px var(--font-color-default);

    border-top: none;
    border-bottom: none;
    
}
.qtd-produto input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}