:root{
    --branco-default: #ffffff;
    --branco-cinza: #F5F5F5;
    --font-color-default: #333643; 
    --font-color-destaque: #212529;
    --font-family-default: Arial, sans-serif;
}

body{
    background-color: var(--branco-default);
}

.bg-destaque{
    background-color: var(--branco-cinza);
}

.txt{
    color: var(--font-color-default);
    font-family: var(--font-family-default);
}

.txt-destaque{
    color: var(--font-color-destaque);
    font-weight: bold !important;
    font-family: var(--font-family-default);
}

html{
    height: 100%;
    width: 100%;
    justify-content: center;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Estilos para o formulário de login/registro */
.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    margin: 0;
}

.auth-form {
    background-color: var(--branco-cinza); /* Bege/cinza claro */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px; /* Ajuste conforme necessário */

}

.auth-form h1{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: var()
}

.auth-form a{
    text-decoration: none;
    font-size: small;
}
.auth-form p{
    margin: 0;
    text-align: center;
}

.submit-bnt {
    background-color: var(--font-color-destaque); /* Verde */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; /* Fonte Poppins */
    transition: background-color 0.3s ease; /* Transição de cor suave */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-weight: bold;
}

.auth-form .submit-bnt{
    margin-top: 2rem;
}

.submit-bnt:hover {
    background-color: var(--font-color-default); /* Tom mais escuro de verde ao passar o mouse */
}