{% extends 'base.html' %}

{% block titulo %}: {{ request.args['q'] }} {% endblock %}

{% block body %}

{% if pesquisa %}

<div class="container">
    <h2  style="margin-bottom: 0;">Pesquisa: "{{request.args['q']}}" </h2>
    <p style="margin-top: 0;">{{resultados}} resultados...</p>
</div>


<div class="container">
    <div class="row row-cols-auto">

        {% for produto in pesquisa %}

        <div class="col">
            <div class="card" style="width: fit-content">
                <div class="img-bg" style="min-height: 248px;">
                    <a href="/produto/{{ produto['id'] }}"><img src="data:image/*;base64, {{ produto['imagem'] }}"
                            class="card-img-top" alt="{{ produto['descricao_img'] }}"></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center"><a href="/produto/{{ produto['id'] }}">{{
                            produto['produto_nome'] }}</a></h4>

                    <div class="card-info">
                        <p class="card-text"><small>DE:&emsp;&emsp;&emsp;&ensp;<s>R$ {{
                                    produto['valor'] }}</s></small></p>

                        <div class="d-flex justify-content-between">
                            <h4>POR:&emsp;R${{ produto['atual'] }}</h4> &emsp;
                            <small class="desconto-produto">-{{
                                produto['desconto']}}%</small>
                        </div>

                        <div class="d-flex justify-content-evenly">

                            <form id="form_f_{{ produto['id'] }}">
                                <a onclick="favadd('form_c_{{ produto['id'] }}');""><i
                                                            class=" bi bi-heart"></i></a>
                            </form>

                            <form id="form_c_{{ produto['id'] }}">
                                <input type="hidden" name="produto_id" value="{{ produto['id'] }}">
                                <input type="hidden" name="qtd" value="1">
                                <input type="hidden" name="act" value="insert">

                                <a onclick="qtdcart('form_c_{{ produto['id'] }}');"><i
                                        class="bi bi-cart"></i></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% else %}

<div style="height: 75vh; min-width: 100vh;" class="text-center">
    <h1>Sem favoritos</h1>
    <h4>Por enquanto...</h4>
</div>


{% endif %}
{% endblock %}