{% extends 'base.html' %}

{% block titulo %}: Entrar{% endblock %}

{% block body %}

{% set mensagens = get_flashed_messages(category_filter=["message"]) %}
{% for mensagem in mensagens %}
<p> {{ mensagem }} </p>
{% endfor %}
<div class="d-flex min-vh-100 justify-content-center align-items-center">
    <div class="container form-auth ">

        <form action="/entrar" method="post" class="bg-destaque text-center">

            <h1 class="txt-destaque">Entrar</h1>

            <input type="email" name="email" placeholder="E-mail" class="txt">
            <input type="password" name="senha" placeholder="Senha" class="txt">

            {% set mensagens = get_flashed_messages(category_filter=["info"]) %}
            {% for mensagem in mensagens %}
            <p> {{ mensagem }} </p>
            {% endfor %}
            <p>
                <a href="fornecaemail.html" class="txt pequeno">Esqueceu a senha?</a>
            </p>
            <button type="submit" class="submit-button text-center"> ENTRAR</button>
        </form>
    </div>
</div>


{% endblock %}
