{% extends 'base.html' %}

{% block titulo %}: Entrar{% endblock %}

{% block body %}

{% set mensagens = get_flashed_messages(category_filter=["message"]) %}
{% for mensagem in mensagens %}
<p> {{ mensagem }} </p>
{% endfor %}
    <div class="centro">

        <form action="/entrar" method="post" class="auth-form">

            <h1 class="txt-destaque">Entrar</h1>

            <input type="email" name="email" placeholder="E-mail" class="txt">
            <input type="password" name="senha" placeholder="Senha" class="txt">

            {% set mensagens = get_flashed_messages(category_filter=["info"]) %}
            {% for mensagem in mensagens %}
            <p txt> {{ mensagem }} </p>
            {% endfor %}
            <p>
                <a href="/registrar" class="txt" style="margin-right: 1rem;">Criar uma conta</a> <a href="fornecaemail.html" class="txt">Esqueceu a senha?</a>
            </p>
            <button type="submit" class="submit-bnt text-center">CONTINUAR</button>
        </form>
    </div>


{% endblock %}
