{% extends 'base.html' %}

{% block titulo %}{% endblock %}

{% block body %}
<div class="centro">
        <form action="/registrar" method="post" class="auth-form">
            <h1 class="txt-destaque">Cadastrar Conta</h1>

            <input type="text" name="nome" placeholder="Nome completo">

            <input type="email" name="email" placeholder="E-mail">

            <input type="password" name="senha" placeholder="Senha">

            <input type="password" name="confirmSenha" placeholder="Confirmar senha">

            <button type="submit" class="submit-bnt">CRIAR CONTA</button>
        </form>
</div>
{% set mensagens = get_flashed_messages() %}
{% for mensagem in mensagens %}
    <p> {{ mensagem }} </p>
{% endfor %}

{% endblock %}