<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina do Produto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main>
        <section>
            <div class="container">
                <div class="left-side">
                    <div class="items">
                        <div class="select-image">
                            <img src="../img_temp/img01.jpg">
                        </div>
                        <div class="thumbnails">
                            <div class="thumbnail">
                                <img src="../img_temp/img01 - Thumbnail.jpg">
                            </div>

                            <div class="thumbnail">
                                <img src="../img_temp/img02-thumbnail.jpg">
                            </div>

                            <div class="thumbnail">
                                <img src="../img_temp/img03-thumbnail.jpg">
                            </div>

                            <div class="thumbnail">
                                <img src="../img_temp/img04-thumbnail.jpg">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="right-side">
                    <div class="content">
                        <h1>TESTE</h1>
                        <h1>Camisas Personalizadas</h1>
                        <p>Personalize a sua camisa do seu jeito!</p>
                        <div class="prices">
                            <span class="price">R$30.00</span>
                        <span class="off">R$50.00</span>
                        </div>                      
                        <div class="options">
                            <div class="amount">
                                <div class="minus">
                                    <img src="../img_temp/img_menos.svg"> 
                                </div>
                                <span>0</span>
                                <div class="plus">
                                    <img src="../img_temp/img_mais.svg">
                                </div>
                            </div>

                            <a href="" class="button"><img src="../img_temp/img_carrinho.svg"></i>Add to cart</a>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    </div>

</body>

</html>