<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lojinha</title>
</head>

<body>
    <form action="/registrar" method="post">
        <h1>Cadastrar Conta</h1>
        <p>
            <label>
                Nome Completo <input type="text" name="nome">
            </label>
        </p>
        <p>
            <label>
                E-mail <input type="email" name="email">
                {% if emailIndisponivel %}
                    Email já em uso
                {% endif %}
                {% if emailInvalido %}
                    Email inválido
                {% endif %}
            </label>
        </p>
        <p>
            <label>
                Senha <input type="password" name="senha">
            </label>
        </p>
        <p>
            <label>
                Confirmar senha <input type="password" name="confirmSenha">
                {% if senhasDiferente %}
                    Senhas não correspondem
                {% endif %}
            </label>
        </p>
        <button type="submit">Criar Conta</button>
    </form>
    {% if infoFalta %}
    Informações em falta
    {% endif %}
</body>

</html>