<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>lojinha</title>
    </head>
    <body>
        <form>
            <h1>Cadastrar Conta</h1>
            <p>
                <label>
                    Nome Completo <input type="text" name="username">
                </label>
            </p>
                <p>
                    <label>
                        E-mail <input type="email" name="email">
                    </label>
                </p>
                    <p>
                        <label>
                        Usuario <input type="text" name="user"> 
                        </label>
                    </p>
                        <p>
                            <label>
                            Senha <input type="password" name="password">    
                            </label>
                        </p>
                            <p>
                                <label>
                                Confirmar senha <input type="password" name="password">
                                </label>
                            </p>
                        <button type="submit">Criar Conta</button>
        </form>
    </body>
</html>