{% extends 'base.html' %}

{% block titulo %}{{ codigo }} {% endblock %}

{% block body %}

<script>
    function mudarValor(act) {
        if (act == '+') {
            if (document.getElementById('qtd').value < 99)
                document.getElementById('qtd').value++
        }
        else if (act == '-') {
            if (document.getElementById('qtd').value > 0) {
                document.getElementById('qtd').value--
            }
        }
    }
</script>


<div class="container">
    <div class="row" style="margin: 3rem 0;">

        <div class="col-sm">


            <div id="produtoPrincial" class="carousel slide">
                <div class="carousel-inner">

                    {% for idx, imagem in enumerate(imagens): %}
                    {% if idx == 0 %}


                    <div class="carousel-item active">
                        <img src="data:image/*;base64, {{imagem[1]}}" alt="{{imagem[0]}}" class="d-block w-100">
                    </div>


                    {% else %}

                    <div class="carousel-item">
                        <img src="data:image/*;base64, {{imagem[1]}}" alt="{{imagem[0]}}" class="d-block w-100">
                    </div>


                    {% endif %}
                    {% endfor %}
                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#produtoPrincial"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#produtoPrincial"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>





        </div>

        <div class="col-sm info-produto">

            <h1 class="nome">{{ produto_nome }}</h1>
            <p>por {{ vendedor }}</p>

            <h3 style="font-weight: 300 ; color: #7f7f7f;">De:&emsp;<s>R$ {{ valor }}</s></h3>


            <h2><small style="font-weight: 500;">Por:</small>&ensp;R$ {{ atual }}&emsp;
                <small class="desconto-produto">-{{ desconto }}%</small>
            </h2>

            <form id="formcart" style="width: 100%;">
                <div class="d-flex" style="margin-top: 2rem;"">
                        <div class=" qtd-produto">


                    <input type="hidden" name="act" value="insert">
                    <input type="hidden" name="produto_id" value="{{ produto_id }}">

                    <button class="qtd-btn" type="button" onclick="mudarValor('-')">-</button>
                    <input type="number" name="qtd" id="qtd" value="1">
                    <button class="qtd-btn" type="button" onclick="mudarValor('+')">+</button>


                </div>

                <button class="submit-bnt" type="submit">ADICIONAR AO CARRINHO</button>
        </div>
        </form>


        <p style="margin-top: 3rem;">{{ produto_descricao }}</p>
    </div>



</div>
</div>


<script>
    const cart_form = document.getElementById('formcart');

    cart_form.addEventListener('submit', function (e) {
        e.preventDefault();

        const formData = new FormData(this)

        fetch("/cartqtd", {

            method: 'post',
            body: formData

        }).then(function (response) {
            return response.text();
        }).then(function (text) {
            console.log(text);

            const msgHeader = document.getElementById('msg-cart');
            msgHeader.innerHTML += '<p class="msg"> Carrinho atualizado! </p>';

            setTimeout(
                function(){
                    msgHeader.innerHTML = '';  
                },2000)
        }).catch(function(error) {
            console.error(error);
        })
    });

/*
    ia fazer um poema sobre como eu odeio javascript, mas me falta palavras e criatividade para tal feito

    segue a musica que estou ouvindo no momento https://www.youtube.com/watch?v=omNMowwd84E
*/
</script>

{% endblock %}